/*  your css code here. If applicable */
/* #container {
  margin: 20px;
  padding: 10px;
  border: 1px solid #000;
}
 */
#container::before {
  content: "Before Element ";
  color: #f00;
  font-size: 20px;
  display: block;
  margin-bottom: 5px;
  display:inline-block
}

#container::after {
  content: "After Element";
  color: #f00;
  font-size: 20px;
  display: block;
  margin-top: 5px;
  display:inline-block;
}
